body{
    font-family:Arial, Helvetica, sans-serif;
    background: color #f4f4f4;;
    color: black;
    margin: 0;
    padding: 0;
}
header{
    background-color: #2c3e50;
    color:aqua;
    text-align:left;
    padding: 20px;
}
.role{
    display: inline-block;
    border-bottom: 2px solid white;
    padding-bottom:4px;
}
.container{
    width:70%;
    margin:auto;
}
.box{
    background-color:antiquewhite;
    padding: 20px;
    margin:20px 0;
    border-radius: 6px;
}
.nav-menu{
    display: flex;
    justify-content:center;
    gap:20px;
    list-style:none;
    background: #2c3e50;
    padding: 05px;
}
.nav-menu a{
    color:white;
    text-decoration: none;
    font-weight:bolder;
}
.nav-menu a.active{
    border-bottom: 2px solid white;
}
.nav-menu a:hover{
    color: aqua;
}
.Profile{
    width:150px;
    height: 180px;
    display: block;
}

footer{
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
